table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: 1px solid black;
}
td {
    width: 20%;
    vertical-align: middle;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-top: 2px solid rgb(122, 29, 1);
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}
th {
    border: 1px solid black;
    padding: 10px 20px;
    background: rgb(41, 133, 5);
    color: rgb(146, 15, 15);
    border-right: 2px solid;
    font-size: 0.9em;
}
img {
    width: 60px;
    text-align: center;
}
.beer {
    width: 100%;
}
.pel {
    width: 100%;
}
h1 {
    color: rgb(167, 14, 14);
    font-family: Arial;
    font-size: 40px;
    text-align: center;
}
.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(6, 165, 6);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: rgb(7, 199, 7);
    text-align: center;
    transition: all 0.2s;
}
.button1:hover{
    color: #000000;
    background-color:rgb(241, 52, 52)
}
@media all and (max-width:30em){
    .button1{
        display:block;
        margin:0.4em auto;
    }
}
.bodycat {
    background-color: green;
}